<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Demo ASP.NET Application</title>


    @Scripts.Render("~/bundles/jquery")


    @*Customised jQuery UI*@
    @Styles.Render("~/bundles/jqueryUiCss")
    @Scripts.Render("~/bundles/jQueryUi")

    @Scripts.Render("~/bundles/bootstrap")

    

    @*jQuery Layout plugin inspired by ExiJs border layout*@
    <link type="text/css" rel="stylesheet" href="//layout.jquery-dev.com/lib/css/layout-default-latest.css" />
    <script type="text/javascript" src="//layout.jquery-dev.com/lib/js/jquery-ui-latest.js"></script>
    <script type="text/javascript" src="//layout.jquery-dev.com/lib/js/jquery.layout-latest.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="element" href="#/welcome"><span class="glyphicon glyphicon-th-large icon-grid">&nbsp;</span>Searoc Tasks <sup>v 1.0</sup></a></li>
                    <li><a class="element" href="#/demo"><span class="glyphicon glyphicon-play icon-comments">&nbsp;</span>Demo</a></li>
                    <li><a class="element" href="#/about"><span class="icon-comments">&nbsp;</span>About project</a></li>
                    <li><a class="element" href="#/whatelse"><span class="icon-comments">&nbsp;</span>What else</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer id="_footer" class="footer">
            <p>&copy; @DateTime.Now.Year -Demo ASP.NET Application</p>
        </footer>
    </div>

    

    @Scripts.Render("~/app/Gnx")

    
    @RenderSection("scripts", required: false)
</body>
</html>
